<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <settings>
            <import>
                <import_url>https://seopulses.ru/xml-name-ready.xml</import_url>
            </import>
        </settings>
    </default>
</config>
